body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
}

A {
  text-decoration: none;
  color: black;
}

/* //makes padding margin and border not effecting containing size or overlapping */
* {
  box-sizing: border-box;
}
